<div class="home-container">
  <!-- Carousel -->
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/OIP.nConnzbsGEoTmw67dHR1nQHaDt?w=824&h=412&rs=1&pid=ImgDetMain" alt="Los Angeles" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Quieres diversión?</h5>
          <p>Juegos de ps4 al alcance de tu mano</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/OIP.1xfw6fu5xfRK9HMfHfqnvgAAAA?rs=1&pid=ImgDetMain" alt="Chicago" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Juegos destacados del mercado</h5>
          <p>Disfruta de los juegos más populares del mercado</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.ef8e34bca2580008532787f474932c63?rik=6Lw2bT%2blDNVPmw&pid=ImgRaw&r=0" alt="New York" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Los mejores títulos</h5>
          <p>Gran variedad de títulos novedosos</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Welcome Banner -->
  <div class="welcome-banner">
    <h1>Bienvenido a Nuestra Tienda</h1>
    <p>Encuentra los mejores juegos a los mejores precios</p>
    <button class="primary-button">Ver Productos</button>
  </div>

  <!-- Featured Products -->
  <div class="featured-products">
    <h2>Productos Destacados</h2>
    <div class="product-list">
      <div class="product-item">
        <img src="https://th.bing.com/th/id/R.40a1140750230915c1eff9d5d432d812?rik=ADE4FKnquk31FQ&pid=ImgRaw&r=0" alt="Producto 1">
        <h3>Producto 1</h3>
        <p>$49.99</p>
        <button class="primary-button">Comprar</button>
      </div>
      <div class="product-item">
        <img src="https://th.bing.com/th/id/OIP.qr4_zPDUKlaTbq_sNzLMkAHaEK?rs=1&pid=ImgDetMain" alt="Producto 2">
        <h3>Producto 2</h3>
        <p>$59.99</p>
        <button class="primary-button">Comprar</button>
      </div>
      <div class="product-item">
        <img src="https://th.bing.com/th/id/OIP.XZzAKO6xCWuPi5goknThRgHaEc?rs=1&pid=ImgDetMain" alt="Producto 3">
        <h3>Producto 3</h3>
        <p>$59.99</p>
        <button class="primary-button">Comprar</button>
      </div>
    </div>
  </div>

  <!-- Testimonials -->
  <div class="testimonials">
    <h2>Testimonios</h2>
    <div class="testimonial-item">
      <p>Esta tienda de juegos de PS4 ofrece una experiencia de compra excepcional para los aficionados a la consola de Sony. Con una amplia selección de títulos populares y accesorios de alta calidad, los jugadores encontrarán todo lo que necesitan para llevar su experiencia de juego al siguiente nivel. La facilidad de navegación del sitio web y el proceso de compra fluido hacen que sea un placer comprar aquí. Además, su política de devolución flexible y un servicio al cliente receptivo garantizan una experiencia libre de estrés para los clientes. En resumen, esta tienda es una opción confiable y recomendada para cualquier entusiasta de los juegos de PS4.</p>
      <h4>- Juan Hernandez</h4>
    </div>
    <div class="testimonial-item">
      <p>La tienda de juegos de PS4 ofrece una gama impresionante de productos para los fanáticos de la consola. Desde los últimos lanzamientos hasta los clásicos favoritos, la tienda tiene algo para todos los gustos y presupuestos. Lo que realmente destaca es su compromiso con la satisfacción del cliente. Con una atención meticulosa a los detalles, envíos rápidos y una política de devolución sin complicaciones, esta tienda demuestra que se preocupa por ofrecer la mejor experiencia posible a sus clientes. Además, su sitio web intuitivo y fácil de usar facilita la navegación y la búsqueda de productos específicos.</p>
      <h4>- María Placios</h4>
    </div>
  </div>



  <!-- Footer -->
  <footer class="footer">
    <p>© 2024 Nuestra Tienda</p>
    <p>Contacto: infoa.com</p>
  </footer>
</div>
