<div class="container my-5">
    <h2 class="text-center mb-4">Ofertas Especiales</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.83dea12517c3ca2de0ee41ca9777ed3f?rik=VhmZYYdmROnkEw&pid=ImgRaw&r=0" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">Call of duty</h5>
            <p class="card-text original-price">$60</p>
            <p class="card-text discounted-price">$29.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://d1lss44hh2trtw.cloudfront.net/assets/article/2020/10/27/god-of-war_feature.jpg" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">God of war</h5>
            <p class="card-text original-price">$50</p>
            <p class="card-text discounted-price">$24.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/OIP.Q7ge0ZbhKF3NHFV_V_C0ZgHaEK?w=309&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">Spiderman Miles Morales</h5>
            <p class="card-text original-price">$49.00</p>
            <p class="card-text discounted-price">$24.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.a01033e4f487c3745456c804452ce011?rik=ZeiVR5kvhMOiHQ&pid=ImgRaw&r=0" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">The last of us</h5>
            <p class="card-text original-price">$60</p>
            <p class="card-text discounted-price">$29.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/R.7ee7ce35f54d39d458c9101e1274f9dd?rik=RyPYzP%2bgIxjN1g&pid=ImgRaw&r=0" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">Ghost of tsushima</h5>
            <p class="card-text original-price">$60</p>
            <p class="card-text discounted-price">$29.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://th.bing.com/th/id/OIP.sQ4FuVEDslrclVdOO8XSDgHaEK?rs=1&pid=ImgDetMain" class="card-img-top" alt="Oferta 1">
          <div class="card-body">
            <h5 class="card-title">Red Dead Remption 2</h5>
            <p class="card-text original-price">$49.99</p>
            <p class="card-text discounted-price">$39.99</p>
            <p class="card-text">Oferta relampago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
