
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Términos y Condiciones</title>
  <link rel="stylesheet">
</head>
<body>
  <header>
    <h1>Términos y Condiciones</h1>
  </header>
  <main>
    <section>
      <h2>1. Introducción</h2>
      <p>Bienvenido a nuestra tienda en línea especializada en la venta de juegos de PlayStation 4 y sus accesorios. Estos términos y condiciones regulan el uso de nuestro sitio web y todos sus subdominios asociados, así como cualquier transacción que realices con nosotros. Al acceder a nuestro sitio web y realizar una compra, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguna parte de estos términos y condiciones, te recomendamos que no utilices nuestro sitio web.

      </p>
    </section>
    <section>
      <h2>2. Aceptación de Términos</h2>
      <p>Al utilizar nuestro sitio web y realizar una compra, aceptas estos términos y condiciones en su totalidad. Entiendes y aceptas que estos términos y condiciones constituyen un contrato legalmente vinculante entre tú y nuestra empresa. Si no estás de acuerdo con cualquier parte de estos términos y condiciones, te pedimos que no utilices nuestro sitio web.</p>
    </section>
    <section>
      <h2>3. Licencia de Uso</h2>
      <p>Se te concede permiso para acceder y utilizar nuestro sitio web y sus contenidos únicamente para fines personales y no comerciales. Se te permite descargar temporalmente una copia de los materiales (información o software) en nuestro sitio web para tu visualización personal. Esta es la concesión de una licencia, no una transferencia de título, y bajo esta licencia no puedes:
        <li>
            <ol>Modificar o copiar los materiales.</ol>
            <ol>Utilizar los materiales con fines comerciales o para cualquier exhibición pública (comercial o no comercial).</ol>
            <ol>Intentar descompilar o realizar ingeniería inversa de cualquier software contenido en nuestro sitio web.</ol>
            <ol>Eliminar cualquier copyright u otras notaciones de propiedad de los materiales.</ol>
        </li>
        </p>
    </section>
    <section>
        <h2>Registro y cuenta de usuarios</h2>
        <p>Para realizar compras en nuestro sitio web, es posible que debas crear una cuenta y proporcionar cierta información personal. Aceptas proporcionar información precisa, completa y actualizada sobre ti mismo, y aceptas mantenerla actualizada en todo momento. Eres responsable de mantener la confidencialidad de tu cuenta y contraseña y de restringir el acceso a tu computadora y dispositivos, y aceptas asumir la responsabilidad de todas las actividades que ocurran bajo tu cuenta o contraseña.</p>
    </section>

    <section>
        <h2>Compra y pago</h2>
        <p>Al realizar una compra en nuestro sitio web, aceptas proporcionarnos información de pago precisa y completa, y autorizas el uso de dicha información para procesar la transacción. Nos reservamos el derecho de rechazar o cancelar tu pedido en cualquier momento por motivos que incluyen, entre otros, disponibilidad del producto, errores en el precio o descripción del producto, o problemas de verificación de pago.
        </p>
    </section>
    <!-- Otros términos y secciones -->
  </main>
  <footer>
    <p>Derechos reservados 2024 </p>
  </footer>
</body>
</html>
